@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "optimized-global";
  src: url("./assets/fonts/optimized_global_web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*

TODO: Add custom CSS fix to maintain custom cursor even on button hover, etc.
*/
* {
  font-family: "optimized-global", sans-serif;
  cursor: url(src/assets/cursor.png), auto;
}

/* Override pointer cursor with custom cursor */
button,
a,
[role="button"] {
  cursor: url("src/assets/cursor.png"), auto;
}
